.App {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

ul {
  margin: 0;
}

strong {
  display: inline-block;
}

.outer-layer {
  background-color: #e7eff3;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 530px;
  border-radius: 5px;
  border: 3px solid #bdcad1;
}

/* .border-layer {
  text-align: center;
  padding: 20px;
  border: 3px dashed #afb8bd;
  background-color: #c3d5dd;
  color: rgb(59, 59, 59);
  height: 200px;
  width: 430px;
  z-index: 3;
} */

.dropzone {
  text-align: center;
  padding: 20px;
  border: 3px dashed #9eaeb6;
  background-color: #c3d5dd;
  color: rgb(59, 59, 59);
  height: 200px;
  width: 430px;
  z-index: 2;
}

.input-content-container {
  margin-top: 50px;
}
